$accordionSpeed: .2s;
$appearanceTextSpeed: 1s;
.accordion {
  background: #2E77A4 url("./../img/menuback.jpeg") center center no-repeat;
  background-size: cover;
  position: relative;


  &__container {
    display: flex;
    padding-left: 10%;
    max-width: 100%;
    @include tablets {
      padding-left: 5%;
    }
  }

  .section__title {
    position: absolute;
    top: 21%;
    right: 75%;
    @include tablets {
      right: 60%;
    }
  }

  &__list {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 25%;
    display: flex;
    justify-content: flex-end;

    @include tablets {
      left: 0;
    }
  }

  &__item {
    top: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    height: 100%;

    background: rgba(51, 53, 55, 0.1);
    backdrop-filter: blur(5px);

    color: #fff;
    border-left: rem(2px) solid #fff;
    border-top-left-radius: rem(10px);
    border-bottom-left-radius: rem(10px);
    width: 100px;
    transition: width $accordionSpeed;

    @include phones {
      width: 60px;
    }


    @for $i from 1 through 3 {
      &:nth-child(#{$i}) {
        .accordion__title-content {
          background: url("./../img/menu#{$i}_.png") left 69% center no-repeat;
          background-size: cover;
        }
      }
    }
  }

  &__title-content {
    width: 100px;
    height: 100%;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: rem(100px);

    &:hover {
      color: $yc;
    }

    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: black;
      opacity: 0.4;
    }


    @include tablets {
      padding-bottom: rem(120px);
    }
    @include phones {
      width: 60px;
    }
  }

  &__title-elem {
    font-size: rem(38px);
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    user-select: none;
    @include phones {
      font-size: 30px;
    }
  }


  &__text-content {
    position: relative;
    display: block;
    //width: 0;
    overflow: hidden;

    &-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      padding: 10px;
      padding-top: 25px;
      line-height: 1.1;
      overflow: auto;

      @include phones {
        padding-bottom: 10px;
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 5px;
        line-height: 1.0;
        font-size: 15px;
      }
      opacity: 0;
      transition: opacity $appearanceTextSpeed;
    }

  }

  &__item.active {
    width: 100%;
    color: $yc;

    .accordion__text-content {
      flex: 1;
      color: white;
    }

    .accordion__text-content-wrapper {
      opacity: 1;
    }
  }
}
