.order {
  position: relative;
  background: url("./../img/order.jpeg") top left no-repeat;
  background-size: cover;
  color: #fff;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 5%;

    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: grey;
      opacity: 0.5;
      z-index: 10;
    }

    .section__title {
      z-index: 100;
    }
  }
}

.form {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

.form__col {
  width: 48%;
  display: flex;
  flex-direction: column;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.form__row {
  display: flex;
  margin-bottom: rem(12px);
  @include tablets {
    margin-bottom: rem(7px);
  }

}

.input__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__input {
  width: 100%;
  height: rem(58px);
  border-radius: rem(4px);
  border: rem(2px) transparent solid;
  outline: none;
  padding: rem(10px) rem(10px);
  font-size: rem(18px);

  &:focus {
    border-color: $yc;
  }

  @include tablets {
    height: rem(40px);
  }
}


.form__label {
  cursor: pointer;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: rem(17px);

  &:last-child {
    margin-right: 0;
  }
}

.radio__visible {
  display: block;
  width: rem(25px);
  height: rem(25px);
  border-radius: 50%;
  background: #fff;
  margin-right: rem(10px);
  position: relative;


  &:before {
    display: none;
    border-radius: 50%;
    content: "";
    width: rem(12px);
    height: rem(12px);
    background-color: $yc;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.form__radio {
  display: none;

  &__title {
    display: block;
    margin-right: rem(20px);
    user-select: none;
    white-space: nowrap;

    &:last-child {
      margin-right: 0;
    }
  }

  &:checked ~ .radio__visible {
    &:before {
      display: block;
    }
  }
}

.radio {
  margin-top: 3%;
  flex-direction: row;
  align-items: center;

  &--checkbox {
    .radio__visible {
      border-radius: rem(4px);

      &:before {
        background: url("./../img/checkbox.png") center center no-repeat;
      }
    }
  }
}

.form__input--textarea {
  height: rem(152px);
  resize: none;
}

.form__row .btn {
  margin-top: 7%;
  margin-right: rem(10px);
  @include tablets {

  }
}

@include tablets {
  .form > .form__row {
    flex-direction: column;

    .form__col {
      width: 100%;
      margin-right: 0;
    }
  }
  .form__controls {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .form__row:nth-child(3) {
      align-self: center;
    }
  }
}

.not-valid {
  border: 2px solid darkred;
}