$sliderSpeed: .3s;

.mySlider {
  height: 100vh;
  background: #fff;

  .container {
    padding: 5% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .slider {
    display: flex;
    flex-direction: row;
    height: 100%;

    &__container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      overflow: hidden;
      position: relative;
    }

    &__list {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    &__item {
      position: absolute;
      padding: 10px;
      width: 100%;
      height: 100%;
      left: 0;
      transition: left $sliderSpeed;
      align-items: center;
      display: flex;
      justify-content: space-between;
      @include tablets {
        flex-direction: column;
        height: 100%;
      }

    }
  }
}

.arrow {
  display: block;
  width: 15px;
  height: 29px;
  position: relative;

  top: 50%;
  transform: translateY(-50%);

  &--left {
    .arrow__img {
      transform: rotate(180deg);
    }
  }
}
