.btn {
  background: $yc;
  text-transform: uppercase;
  font-size: rem(16px);
  font-weight: bold;
  height: rem(60px);
  width: rem(156px);
  padding: rem(19px) rem(41px);
  border-radius: rem(30px);
  border: 1px solid transparent;
  color: #000;

  cursor: pointer;
  user-select: none;

  &:hover {
    color: $yc;
    background: transparent;
    border-color: #000;
  }
}