.hero {
  background: #2E77A4 url("../img/hero.png") right 15% top no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  @include tablets {
    background-position-x: 65%;
  }

  &__container {
    padding: rem(28px) 0 rem(66px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablets {
      align-items: center;
      background-position-x: 65%;
      text-align: center;
    }
  }

  &__title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 7%;
    max-width: 500px;

    @include tablets {
      align-items: center;
      flex: 1;
    }

    .btn {
      margin-top: 4%;
    }
  }

  &__title-desc {
    font-size: rem(21px);
    font-weight: normal;
    @include phones {
      font-size: rem(18px);
    }
    @include tablets {
      max-width: 100%;
      margin-top: 9px;
    }
  }

  &__icons-section {
    @include tablets {
      display: none;
    }
  }

  .feature {
    &__list {
      display: flex;
    }

    &__item {
      display: flex;
      align-items: center;
      margin-right: rem(33px);
      font-size: 16px;
      font-weight: bold;

      &:last-child {
        margin-right: 0;
      }
    }

    &__icon {
      margin-right: 14px;
    }

    &__desc {
      max-width: 90px;
    }
  }
}

.section__title {
  @include tablets {
    font-size: 40px;
  }
  @include phones {
    font-size: 30px;
  }
}
